<p id="notice">Password for: <strong><%= h @user.full_name_k_number %></strong> has been successfully updated.</p>

<p>Go on now to your <%= h link_to "home page", @user %>, or system main <%= link_to "Login Page", users_path %>.</p>

