<p id="notice">Password for: <strong><%= h @user.full_name_k_number %></strong> has been reset.</p>

<p>Instruction to reset your password has been sent to the following e-mail address:
<strong><%= h @user.e_mail %></strong>. Please check your inbox now, locate your message and
click the link displayed to reset your message.</p>

<p><%= link_to "Back to the Login Page", users_path %></p>

